<div class="list-item">
    <h3>{{#if data}}{{data.title}}{{else}}{{title}}{{/if}}</h3>
    <p>{{#if data}}{{data.blurb}}{{else}}{{blurb}}{{/if}}</p>
    <a href="#">{{#if data}}{{data.btnText}}{{else}}{{btnText}}{{/if}}</a>
</div>
