<section class="section more-less wysiwyg {{modifier}} {{theme}}">
	<div class="container-fluid">
        {{#if heading }}
        <div class="section-heading">
            <h2>{{{ heading }}}</h2>
        </div>
        {{/if}}
        <div class="row">
            <div class="left-col">
                {{{ leftColContent }}}
            </div>
            <div class="right-col">
                {{{ rightColContent }}}
            </div>
        </div>
	</div>
</section>
