<div class="latest-news">
    <h2>{{heading}}</h2>
    {{#each itemList }}
        <div class="list-item">
            <h4>{{title}}</h4>
            <p>{{blurb}}.</p>
            <a href="#">{{btnText}}</a>
        </div>
    {{/each}}
    <a href="#" class="btn">{{ readMoreText }}</a>
</div>
